.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.gradient-container {
  background: linear-gradient(180deg, #132b84, #6556b5, #2a2f8a, #320a60, #1a083b); /* Example gradient */
  padding: 20px;
}

.waves-container{
  position: absolute;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.wave {
  background: url('../public/images/waves/wave1.png');
  position: absolute;
  left:0;
  width: 100%;
  height: 100%;
  background-size: 1000px 100px;

}
.wave1 {
  animation: animate 10s linear infinite;
  animation-delay: 0s;
  bottom:0;
  z-index: 0;
}
.wave2 {
  animation: animate 7s linear infinite;
  animation-delay: 0.1s;
  bottom:0;
  z-index: 0;
  opacity: 0.5;

}
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
  
}

.buoy {
  position: absolute;
  max-height: 200%;
  max-width: 200%;
  transform-origin: 85% 90%; /* 100px from left, 50px from top */
  right: 10px;
  top: -550px;
  animation-delay: 1s;
  animation: tilt 5s infinite alternate ease-in-out; /* Animation name, duration, repeat, and easing */
}

@keyframes tilt {
  0% {
      transform: rotate(10deg); /* Left */
  }
  100% {
      transform: rotate(-20deg); /* Tilt to the left */
  }
}

